html, body, h1, h2, h3, h4, h5, h6, p {
    font-family: Avenir, sans-serif !important;
}

nav {
    background-color: white !important;
    vertical-align: top;
}

.page {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin-top: 10vh;
}

#home, #about-grid, #projects, #case-studies {
    margin: auto;
}

#down-arrow {
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
}

#case-studies img {
    width: 50vw;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
}

span {
    margin-right: 10px !important;
}

.uk-logo {
    font-family: Avenir, sans-serif !important;
}
