body {
    display: block;
    margin-top: 15vw;
    margin-left: 35vw;
}

.title {
    font-size: 24px;
}

body {
    font-family: Avenir, sans-serif;
}

.link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.link a {
    display: inline-block;
    margin-left: 30px;
}

img {
    width: 32px;
    height: 32px;
}
