body {
    font-family: Avenir, sans-serif;
    text-align: center;
}

h1 {
    margin-left: 1em;
    font-size: 48px;
}

#home {
    margin-top: 20vw;
    margin-bottom: 25vw;
 }

#home li {
    font-size: 24px;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
