// Font sizes
$indefinities-h1: 48pt;
$indefinities-h2: 36pt;
$indefinities-text: 18pt;

// Colors
$indefinities-light-blue: #9DC0D9;
$indefinities-dark-blue: #1F2335;

// Margins and Padding
$indefiities-page-height: 90vh;